/* 최적화 */

#route {
  width: 100%;
  position: absolute;
  z-index: 9996;
  border-radius: 30px 30px 0 0;
  background-color: #eeeff1;
}

.drag_bar {
  width: 100%;
  height: 30px;
  cursor: move;
  position: relative;
}

.drag_bar span {
  width: 30px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 200px;
  background-color: #71d4b0;
  display: block;
  position: absolute;
}

#route_wrap {
  width: 100%;
  height: calc(100% - 90px);
  margin: 20px auto 0 auto;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  top: 0;
}

.user_name {
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 0.8rem;
}

.title {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 10px auto 0 auto;
  font-size: 0.8rem;
  display: flex;
}

#place_title {
  width: 88%;
  height: 20px;
  float: left;
}

#switch_btn {
  width: 5%;
  height: 20px;
  display: block;
  background: url("https://img.icons8.com/material-two-tone/24/000000/change--v1.png")
    no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin-left: 2%;
}
#reverse_btn {
  width: 5%;
  height: 20px;
  display: block;
  background: url("https://img.icons8.com/fluency-systems-filled/24/000000/sort-numeric-up-reversed.png")
    no-repeat center;
  background-size: contain;
  cursor: pointer;
}

#start,
#finish {
  width: 90%;
  height: 80px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.place_input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  margin: 10px auto 0 auto;
  padding: 0 10px 0 10px;
  background-color: #ddd;
  font-size: 0.8rem;
}

.select_time {
  border: none;
  margin-top: 10px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.8rem;
}

#place {
  width: 90%;
  position: relative;
  margin-top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

#place_list {
  width: 100%;
  margin-top: 10px;
}

.place_1 {
  width: 100%;
  display: flex;
  position: relative;
  border-radius: 5px;
  background-color: #ddd;
  margin-top: 10px;
  /* 추가 */
  flex-wrap: wrap;
}

.num_box {
  width: 10%;
  text-align: center;
  line-height: 40px;
  font-size: 0.9rem;
  margin-top: 10px;
}

.address_box {
  width: 90%;
  cursor: pointer;
  display: flex;
  flex-flow: wrap;
  margin-top: 10px;
}

.address_box p,
.address_box span,
.eta {
  height: 20px;
  line-height: 20px;
}

.address_box p {
  font-weight: 900;
  width: 100%;
  display: block;
  font-size: 0.8rem;
}

.address_box span {
  display: inline-flex;
  width: 80%;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.eta {
  width: 20%;
  display: block;
  font-size: 0.8rem;
}

.eta span {
  display: inline;
}

.place_1:hover {
  border: 1px solid #71d4b0;
}

.place_1:hover > .place_menu {
  display: flex;
}

.place_menu {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  display: none;
}

.place_menu div {
  width: 30%;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 0.7rem;
}

.place_menu div:hover {
  background-color: #71d4b0;
  color: #fff;
}

.place_menu div:nth-child(3):hover {
  background-color: red;
}

#add_btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}

#add_btn span {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 100px;
  background-color: #ddd;
  cursor: pointer;
}

#route_btn {
  width: 30px;
  height: 30px;
  margin: 30px auto;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  color: #fff;
  background-color: #71d4b0;
  cursor: pointer;
}

.select_arrive {
  border: none;
  margin-top: 10px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 0.8rem;
}
